// sass-lint:disable no-important no-ids

@import 'vars';

body {
	background-image: url('../images/login-2.png') !important;
	background-position: center !important;
	background-size: cover !important;

	.login {
		background: $white !important;
		-webkit-font-smoothing: antialiased;
	}

	&.login {
		display: flex;
		align-items: center;
	}
}

#login {
	padding: 48px 24px 24px;
	border-radius: 12px;
	background-color: $white;
	box-shadow: 0 2px 5px rgba(#111,.5);
}

#loginform {
	padding: 24px;
	form {
		input {
			padding: 10px;
		}
	}
}

.login h1 a {
	width: 225px;
	height: 50px;
	margin-bottom: 24px;
	padding-right: 1rem;
	padding-left: 1rem;
	background-image: url('../images/logo.svg');
	background-position: center;
	background-size: contain;
	box-sizing: border-box;
}

p.message {
	border-left-color: $purple !important;
	background-color: rgba($purple, .2) !important;
	color: $purple !important;
}

#nav,
#backtoblog {
	a {
		color: $purple !important;
		&:hover {
			color: $pink !important;
		}
	}
}

.login form {
	padding-top: 0;
	background: $white;
	box-shadow: none !important;
}

.login form .input,
.login form input[type='checkbox'],
.login input[type='text'] {
	border: 0;
	background: hsl(0, 0, 95%);
	color: hsl(0, 0, 10%);
	font-size: 24px;
	font-weight: 500;
}

#wp-submit {
	padding-right: 20px;
	padding-left: 20px;
	border: 0 !important;
	border-radius: 2px;
	background-color: $purple;
	font-weight: bold;
	text-shadow: none;
	box-shadow: none !important;

	&:hover {
		background-color: lighten($purple, 5%);
	}

	&:active {
		margin-top: 0;
		transform: none;
		background-color: lighten($purple, 5%);
	}
}